body {
  max-width: 1024px;
  margin: 0 auto;
  font: 1.2em Helvetica, arial, sans-serif;
  display: grid;
}
main,
header,
footer {
  border: 1px solid #ccc7c8;
  background-color: #fff;
  border-radius: 5px;
}
header {
  height: 100px;
  background-image: url(./images/header.png);
  border: 1px solid #ccc7c8;
  padding: 0px 5px;
  height: 100px;
}
#headerimg1 {
  position: absolute;
  animation: Move1 3s forwards;
  height: 100px;
  top: -30px;
  left: 80%;
}
@keyframes Move1 {
  form {
    left: 80%;
  }
  to {
    left: 30%;
  }
}
#headerimg2 {
  position: absolute;
  animation: Move2 3s forwards;
  height: 70px;
  top: -5px;
  left: 80%;
}
@keyframes Move2 {
  form {
    left: 80%;
  }
  to {
    left: 45%;
  }
}
#headerimg3 {
  position: absolute;
  animation: Move3 3s forwards;
  height: 80px;
  top: 0%;
  left: 80%;
}
@keyframes Move3 {
  form {
    left: 80%;
  }
  to {
    left: 63%;
  }
}
nav {
  margin-top: 25px;
}
nav a {
  float: left;
  color: #ed4190;
  padding: 2px 4px;
  border: 1px solid #fff;
  border-radius: 3px;
  margin: 3px;
  text-decoration: none;
  height: 20px;
  font-size: 17px;
  background-color: #ffffff80;
  box-shadow: 0 0 3px 0 #00000066, 0 0 2px 0 #0000004d;
}
nav a:hover
{ color:#fff;
background: #ed4190;
}
.search-container {
  float: right;
  padding-top: 3px;
}
.icon-white,
.icon-pink {
  padding: 4px;
  background: #cddc39;
  min-width: 30px;
  color: #fff;
  text-align: center;
  cursor: pointer;
}
.icon-pink {
  color: #ed4190;
}
.order_1 {
  margin-bottom: 5px;
  width: 100%;
  text-align: center;
}
.order_1 div {
  display: inline-block;
  border: 1px solid #ed4190;
  border-radius: 5px;
  padding-top: 5px;
  min-width: 24%;
}
main {
 
  display: grid;
  padding: 0 5px;
}
footer {
  margin: 2px;
  border: 1px solid #ccc7c8;
  border-radius: 5px;
  text-align: center;
}
.gotop {
  float: right;
  margin-right: 5px;
}
.social-icon{
  color: #ed4190;
}
h1,
h2,
h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #f90b6d;
}
h1 {
  margin: 12px 0px 16px;
  min-width: 200;
  height: 3;
  position: relative;
  background-position-x: 50%;
  text-align: center;
  text-transform: uppercase;
  font-size: 28px;
}
h2 {
  font-size: 24px;
  margin: 5px 0 10px;
}
.bocuc1 ,.bocuc2 {
  display: flex;
  justify-content: space-around;
}
.chiaban1{
  display: flex;
  justify-content: space-between;
}
.chiaban1 .chiaban{

  margin-left: 100px; 
} 
